
header p {
  color: black;
}

.para {
  color:;
}

p.para {
    color: black;
}

header {
    width: 100%;
    height: 200px;
    background-color:;
}

header {
    height: 100px;
    background-color:;
    font-size: 20px;
    color: gray;
}

body {
    background-image:url('/home/user/Desktop/planannono/frontend-lessons/stencil_eve_120421.gif');
    background-size:50%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:50%;
    width:50%;
}

.ball{ 
  height: 250px; width: 250px;
  margin: 0 auto;
  background-color: purple;
  animation-name: bounce;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-direction:alternate;
  animation-iteration-count:infinite; 
}

.top-line{ 
  width: :320px; height: 200px; heigth: 200px;
  margin: 40px 0 0 -39px;
  border: solid 4px #000;
  border-color: #000 transparent; 
transparent transparent;
  border-radius: 50%/150px 150px 0 0;
}

.bottom-line{ 
   width: 290px; height: 200px;
   margin: -245px 0 0 -24px;
   border: solid; 4px #000;
   border-color: transparent transparent; 
 #000 transparent;
   border-radius: 50%/100px 100px 100px
 100px;
}

.middle-line { 
  width: 260px; height: 200px;
  margin: -90px; 0 0 -11px;
  border: solid 6px #000;
  border-color: #000 transparent; 
transparent transparent;
  border-radius: 50%/20px 20 px 0 0;
}

.text{ 
  position: absolute;
  font-family: serif,sans-serif,fantasy;
  font-size: 30px;
  margin: -290px 0 0 70px;
}

img { 
  position: absolute; }