body {
  background-image: url("images/smile.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}

p{
    color: skyblue;
}

h1{
    background-color: steelblue;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

article {
  margin-bottom: 32px;
}

.target {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
}
/** https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/alpha-cat.png **/

.alpha-target {
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/alpha-cat.png");
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 80%;
}