
header p {
    color: red;
}

.para {
    color: purple;
}

p.para {
    color: orange;
}

header {
    width: 100%;
    height: 200px;
    background-color: red;
}

header {
    height: 100px;
    background-color: pink;
    font-size: 20px;
    color: gray;
}

#ule {
    height: 100px;
    background-color: pink;
    font-size: 20px;
    color: gray;
}
.school{
    width: 100%;
    height: 200px;
    background-color: red;
}
#pepe { 
    width: 100%;
    height: 200px;
    background-color: red;
}

.school{
    width: 100%;
    height: 200px;
    background-color: red; }
